.navbar a {
    float: left;
    padding: 20px; 
    font-size: 25px;
    color: #878483;
    text-decoration: none;
    width: 7%; 
    transition: transform .2s;
    text-align: center;
}

.dropdown {
    float: left;
    padding: 18px; 
    font-size: 25px;
    color: #878483;
    text-decoration: none;
    width: 7%; 
    text-align: center;
}

.dropdown .dropbtn {
    transition: transform .2s;
    background: none;
    font-size: 25px;
    border: none;
    outline: none;
    color: #878483;
    cursor: pointer;
    text-align: center;
}

.dropdown-content { /* contenu descendant */
    display: none;
    min-width: 160px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color:#0189ba;
    font-size: 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}
 
.navbar img{
    float:left;
    height: 50px;
    padding: 8px 20px;
}
 
.navLogoLogout{
    color: red;
}

.navbar a:hover{
    color: #FCE501;
    transform: scale(1.2);
}

.navbar a:hover .navText{
    display: block;
}

.navbar .dropbtn:hover{
    color: #FCE501;
    transform: scale(1.2);
}

.navText{
    color:#0189ba;
    padding-top: 5px;
    font-size: 13px;
    display: none;
    text-transform: uppercase;
    font-weight: bold;
}
.active{
    color: red!important;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    .dropdown {
        float: none;
        display: block;
        text-align: left;
    }
}